.idea

# function
function/get_file_list/docker-compose.override.yml
function/get_file_list/.idea
function/get_file_list/**/*.pyc
function/start_execution/docker-compose.override.yml
function/start_execution/.idea
function/start_execution/venv
function/start_execution/**/*.pyc

# infra
infra/*.js
infra/!jest.config.js
infra/*.d.ts
infra/dist
infra/node_modules
infra/script/secrets.json

# CDK asset staging directory
infra/.cdk.staging
infra/cdk.out

# dist
infra/.dist
