.idea

# function
function/**/docker-compose.override.yml
function/**/.idea
function/**/venv
function/**/*.pyc
function/**/secrets*

# infra
infra/*.js
infra/!jest.config.js
infra/*.d.ts
infra/dist
infra/node_modules
infra/**/secrets*

# CDK asset staging directory
infra/.cdk.staging
infra/cdk.out

# dist
infra/.dist
