.idea

# function
function/get_file_list/docker-compose.override.yml
function/get_file_list/.idea

# infra
infra/*.js
infra/!jest.config.js
infra/*.d.ts
infra/dist
infra/node_modules
infra/script/secrets.json

# CDK asset staging directory
infra/.cdk.staging
infra/cdk.out

# dist
infra/.dist
